/*
 * Copyright 2017 The boardgame.io Authors.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

 strong {
   color: black;
 }

html,
body {
  height: 100%;
  font-family: 'Open Sans';
}

strong {
  font-family: inherit;
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

canvas {
  background-color: white;
}

.footer a {
  font-family: 'Open Sans', sans-serif;
  color: #ffbad2;
}

.footer a:hover {
  color: #e56390;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  /* ...and now for the proper property */
  transition: 0.25s;
}

.fakelink {
  cursor: pointer;
  text-decoration: underline;
  color: #ffbad2;
}
.fakelink:hover {
  color: #e56390;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  /* ...and now for the proper property */
  transition: 0.25s;
}

.hclogo {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  padding: 3px;
  margin-right: 5px;
}
main {
  height: 100%;
  background-color: white;
}

div#test {
  height: 100%;
  max-width: 720px;
  margin: auto;
}

* {
  font-size: 20px;
  box-sizing: content-box;
  color: #5c604d;
}

#heroGameCode {
  width: 150px;
  text-transform: uppercase;
}
.parentWrapper {
  height: 100%;
}
.table-outer {
  display: table;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
}
.hcinfo {
  float: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .hcinfo {
    float: none;
    margin-bottom: 0px;
  }
  .hclogo {
    display: none;
  }
}

@media only screen and (max-device-width: 500px) {
  img.bflogo {
    width: 200px !important;
    height: 200px !important;
  }
  .table-inner {
  }
}

@media only screen and (max-device-width: 400px) {
  img.bflogo {
    width: 175px !important;
    height: 175px !important;
  }
  .table-inner {
  }
}

.table-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.footer-inner {
  margin: auto;
  width: 100%;
}

.footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.footer span {
  font-size: 14px;
}

.footer p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.hero p {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

img#bflogo {
  width: 250px;
  height: 250px;
  margin-bottom: -25px;
}

h1.heroname {
  font-family: 'Indie Flower', cursive;
  margin: 0px;
  font-size: 60px;
  color: #ffbad2;
  padding: 0px;
  margin-bottom: -5px;
}

input {
  font-family: 'Indie Flower', cursive;
}

h1.title {
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  background-color: #ffbad2;
}

.drawWrapper {
  width: 100%;
  text-align: center;
}

.headerSection {
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  line-height: 70px;
  z-index: 5;
}

.gameContainer {
  padding: 0px;
  padding-top: 70px;
}

.client {
  padding: 0px;
}

.content {
  padding-top: 0;
}

.runner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

a:hover {
  color: #555;
}

a.active {
  color: #333;
  font-weight: bold;
}

.runner .run {
  text-align: center;
}

.logo {
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
}

.gray {
  color: #aaaaaa;
}

svg:hover {
  fill: #e56390 !important;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  /* ...and now for the proper property */
  transition: 0.25s;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

:-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #ccc;
}

.white {
  color: white !important;
}
