/*
 * Copyright 2017 The boardgame.io Authors.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

html,
body {
    height: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
}

 body {
   margin: 0;
 }

 canvas {
   background-color: white;
 }

 a {
   font-family: "Open Sans", sans-serif;

 }

.hclogo {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  padding: 3px;
}
 main {
   height: 100%;
  background-color: white;
 }

 div#test {
   height: 100%;
   max-width: 720px;
   margin: auto;
 }

* {
  font-size: 20px;
  font-family: "Indie Flower", sans-serif;
  box-sizing: content-box;
  color: #5C604D;
}

#gameCode{
  width: 150px;
}
.parentWrapper {
  height: 100%;
}
.table-outer{
  display: table;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
}
.hcinfo {
  float: left;
  margin-left: 24px;
  margin-bottom: 8px;
}
.table-inner{
  display: table-cell; vertical-align: middle;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-inner {
  margin: auto;
  width: 100%;
}

.footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

h1.heroname {
  margin: 0px;
  padding: 20px;
  font-size: 60px;
  color: #FFBAD2;
}

h1.title {
  font-size: 40px;
  font-family: "Indie Flower";
  padding: 10px;
  margin: 0;
  background-color: #FFBAD2;
}

.drawWrapper {
    width: 100%;
    text-align: center;
}

.headerSection {
  width: 100%;
  text-align: center;
}

.client {
  padding: 0px;
}

.content {
  padding-top: 0;
}

.runner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

a:hover {
  color: #555;
}

a.active {
  color: #333;
  font-weight: bold;
}

.runner .run {
  text-align: center;
}

.logo {
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
}


.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
